* {
  box-sizing: border-box;
}

h2,
h1,
h3,
p,
a {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  color: #999999;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
  background-color: #262626;
}
.right {
  background-color: #4a1c1c;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
    background-color: #262626;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .main,
  .right {
    width: 100%;
  }
}
