/* page about */
#body {
  margin: 0;
  width: 100%;
  background-color:#161515;
}

h1,
h2,
h3,
p,
span{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
/* HEADER-BAR */
#header {
  margin: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.678);
  align-items: center;
  width: 100%;
}

.title-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-header h1,
h2 {
  padding-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}
/* _________________________________________________ */
.headerAbout {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
}

.headerAbout h3 {
  font-size: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titleHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.divImgAbout {
  align-content: center;
  text-align: center;
  padding-top: 15px;
}

.imgAbout {
  height: 100px;
  margin-bottom: 50px;
}

.imgMe {
  width: 40%;
  align-items: flex-start;
  text-align: left;
  float: left;
  padding-left: 5%;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 0px;
}

.main {
  float: center;
  width: 60%;
  height: 60%;
  padding: 0 20px;
  overflow: hidden;
  background-color: #262626;
  padding-bottom: 100px;
}

.divCenter {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main p {
  text-align: justify;
  text-indent: 5%;
}
.aboutText {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.aboutTextDown {
  max-width: 90%;
  margin-left: 10%;
  margin-right: 10%;

}

#downTownBody{
  width: 100%;
  text-align: center;
}

.third {
  margin: 20px;
  width: 200px;
  border-color: #4a1c1c;
  color: #fff;
  box-shadow: 0 0 40px 40px #4a1c1c inset, 0 0 0 0 #4a1c1c;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #4a1c1c inset, 0 0 10px 4px #4a1c1c;
}

.table-red{
  background-color:#4a1c1c;
  color: white;
}

.divSchedule{
  margin-bottom: 50px;
}
.margin-card{
  margin-top: 30px;
}

.card-aulas{
  display: flex;
  flex-flow: row wrap;
}

.coluna{
  width: 50%;
  padding-left: 100px;
}

.title{
  padding-bottom: 20px;
  text-align: center;
}

.center-cards{
  display: flex;
  justify-content: center;
}
/* @media only screen and (max-width: 800px) {
    * For tablets: *
    .main {
      width: 80%;
      padding: 0;
      background-color: #262626;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width: 500px) {
    * For mobile phones: *
    .main,
    .right {
      width: 100%;
    }
  } */
