#body{
 height: auto;
 background-color:#161515;
}

#header{
   margin: 0;
   display: flex;
   background-color: rgba(0, 0, 0, 0.678);
   align-items: center;
   width: 100%;  
}

.title-header{
   width: 100%;
   display: flex;
   justify-content: center;
}

.banner{
   background-color: #161515;
   display: flex;
   align-items: center;
   justify-content: center;
}
.banner img{
   height: 100px;
   margin-top: 40px;
}
#list{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #161515;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

 h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

#card-course{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.144);
    width: 800px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#card-course img{
   margin: 10px;
   width: 20%;
   border-radius: 0;
}

#card-course p{
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 16px;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 #card-course h2{
    margin-top: 10px;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 .threed:hover
{
        box-shadow:
                3px 3px #0000008e,
                6px 6px #0000008e,
                9px 9px #0000008e;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}