/* stormy #494e6b
cloud #98878f
sunset #985e6d
evening #192231 */

body {
  font-family: "Roboto", sans-serif;
  background-color: #161515;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-banner {
  width: 100%;
}

.img-nav {
  height: 50px;
}

#home {
  margin: 0;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.nav{
    height: 15vh;
}

.background-one {
  background-color: #161515;
  opacity : 0.7;
}

.background-two {
  background-color: #161515;
  opacity : 0.7;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
}

a {
  font-size: 2.5em;
}

.link-one {
  color: white;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-one:hover {
  color: white;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);

  /* Thanks Chris Coyier, you got my back always. https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
}

.link-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #4a1c1c ;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #4a1c1c ;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}
.course {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
}

.title-course {
    text-align: center;
    margin-bottom: 90px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #4a1c1c;
  opacity : 0.8;
  width: 300px;
  border-radius: 20px;
  margin-left: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(73, 78, 107, 0.7);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.footer {
    background-color: #4a1c1c;
    color: white;
    display: flex;
    margin-bottom: 0;
    height: auto;
 }
 .footer-item{
    margin: 40px 10px 10px 10%;
}

.button-main{
  margin: 30px ;
  text-align: center;
}

button{
  background-color: #4a1c1c;
  padding: 10px;
  border-radius: 12px;
  font-size: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  border-radius: 20px;
}

h1,
p,
h4 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
